.selected_color{
    background-color: yellow;
    color: black    ;
}
.star-rating{
    text-align: center;
}
.star-rating1{
    margin: 1em;
    button{
        margin: 0 0.1em 0;
        // padding: 0 10px 0 10px;
        font-size: 1em;
        border-radius: 1em;
        &:hover{
            background-color: yellow;
           }
    }
}

